@import './rotate.css';

:root {
  --clr-dark: #101820;
  --clr-light: #efdab9;
  --clr-accent: #ffc31f;
  --clr-accent_shade: #e6a800;

  --ff-roboto: 'Roboto', sans-serif;

  --fs-logo: 5em;
  --fs-img: 15em;
  --fs-h1: 4.5rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.125rem;
  --fs-body: 1rem;
  --fs-small: 0.9rem;
}

@media (max-width: 800px) {
  :root {
    --fs-logo: 4em;
    --fs-img: 10em;
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-body: 0.875rem;
    --fs-small: 0.775rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-family: var(--ff-roboto);
  font-size: var(--fs-body);
}

footer {
  text-align: center;
  opacity: 0.5;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  background: none;
  cursor: pointer;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

p {
  word-spacing: 1.4px;
}

.btn {
  font-size: var(--fs-h4);
  text-decoration: none;
  color: var(--clr-dark);
  padding: 1em 2em;
  background-color: var(--clr-accent);
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-accent_shade);
}

.sm-btn {
  font-size: var(--fs-small);
  text-decoration: none;
  color: var(--clr-dark);
  padding: 0.7em 1.4em;
  background-color: var(--clr-accent);
  border-radius: 5px;
  transition: all 0.3s;
}

.sm-btn:hover,
.sm-btn:focus {
  background-color: var(--clr-accent_shade);
}

.lg-container {
  width: 90%;
  margin: 0 auto;
}

.sm-container {
  width: 65%;
  margin: 0 auto;
  max-width: 70em;
}

.section-spacing {
  margin-bottom: 20rem;
}
.sm_section-spacing {
  margin-bottom: 5rem;
}

/* Main */

/* BIG LANDING LOGO */
/*
.landing-child {
	background-image: url(img/light-logo_sm.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8em;
	user-select: none;
}

.circles {
	width: 566px;
	height: 566px;
	margin: auto;
	position: relative;
}

.circle {
	position: absolute;
	top: 18%;
	right: 18%;
	width: 366px;
}

.circle2 {
	position: absolute;
	top: 14%;
	right: 13.5%;
	width: 416px;
}

.circle3 {
	position: absolute;
	top: 9.5%;
	right: 9%;
	width: 466px;
}

.circle4 {
	position: absolute;
	top: 6%;
	right: 5.5%;
	width: 506px;
}

.circle5 {
	position: absolute;
	top: 0;
	right: 0;
}
*/

.hero {
  text-align: center;
  background-image: radial-gradient(
    ellipse closest-side at 50% 50%,
    #1a2633 20%,
    #111a22 70%,
    #101820
  );
  background-repeat: no-repeat;
  background-size: 100% 365px;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-child {
  background-image: url(../img/light-logo_sm.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.5em;
  user-select: none;
}

.circles {
  width: 366px;
  height: 366px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 186px;
}

.circle2 {
  position: absolute;
  top: 18.5%;
  right: 18%;
  width: 236px;
}

.circle3 {
  position: absolute;
  top: 11%;
  right: 11.5%;
  width: 286px;
}

.circle4 {
  position: absolute;
  top: 8%;
  right: 9%;
  width: 306px;
}

.circle5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 366px;
}

.landing-heading {
  margin: 0 auto;
  line-height: 1.2;
}

.planet-ul {
  width: 366px;
  height: 366px;
  /* border: 1px solid white; */
  margin: 0;
  padding: 0;
  position: relative;
}

.planet {
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--clr-accent);
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet1 {
  background-color: #ff921f;
  box-shadow: 0 0 50px #ff921f, 0 0 50px #ff921f, 0 0 50px 10px #ff921f;
  width: 40px;
  height: 40px;
  top: 100px;
  left: -7px;
}

.planet2 {
  background-color: #059bc4;
  box-shadow: 0 0 50px #059bc4, 0 0 50px #059bc4, 0 0 50px 10px #059bc4;
  width: 15px;
  height: 15px;
  bottom: 130px;
  left: 94px;
}

.planet3 {
  background-color: #61dafb;
  box-shadow: 0 0 50px #61dafb, 0 0 50px #61dafb, 0 0 50px 10px #61dafb;
  width: 24px;
  height: 24px;
  top: 150px;
  right: 60px;
}

.planet4 {
  background-color: #ff615d;
  box-shadow: 0 0 50px #ff615d, 0 0 50px #ff615d, 0 0 50px 10px #ff615d;
  width: 30px;
  height: 30px;
  bottom: 50px;
  /* bottom: 10px;
  right: 85px; */
  right: 105px;
}

.ring {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid#ff921f;
  position: absolute;
}

.ring2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid#059bc4;
  position: absolute;
}

.ring3 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid#61dafb;
  position: absolute;
}

.ring4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid#ff615d;
  position: absolute;
}

.line-container {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 230px;
  right: 373px;
}

.line-container2 {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0px;
  right: 272px;
}

.line-container3 {
  position: absolute;
  width: 194px;
  height: 200px;
  top: 0px;
  left: 306px;
}

.line-container4 {
  position: absolute;
  width: 239px;
  height: 100px;
  bottom: 0px;
  left: 261px;
}

.line1 {
  position: absolute;
  bottom: 12px;
  right: 0;
  background-color: #ff921f;
  width: 30px;
  height: 2px;
}

.line2 {
  position: absolute;
  bottom: 59px;
  right: 3px;
  background-color: #ff921f;
  width: 110px;
  height: 2px;
  transform: rotate(60deg);
}

.line3 {
  position: absolute;
  bottom: 107px;
  right: 85px;
  background-color: #ff921f;
  width: 42px;
  height: 2px;
}

.line2-1 {
  position: absolute;
  top: 62px;
  right: 0;
  background-color: #059bc4;
  width: 30px;
  height: 2px;
}

.line2-2 {
  position: absolute;
  bottom: 89px;
  right: 2px;
  background-color: #059bc4;
  width: 110px;
  height: 2px;
  transform: rotate(-60deg);
}

.line2-3 {
  position: absolute;
  bottom: 42px;
  right: 84px;
  background-color: #059bc4;
  width: 143px;
  height: 2px;
}

.line3-1 {
  position: absolute;
  bottom: 37px;
  left: 0px;
  background-color: #61dafb;
  width: 30px;
  height: 2px;
}

.line3-2 {
  position: absolute;
  bottom: 106px;
  right: 44px;
  background-color: #61dafb;
  width: 160px;
  height: 2px;
  transform: rotate(-60deg);
}

.line3-3 {
  position: absolute;
  top: 23px;
  left: 110px;
  background-color: #61dafb;
  width: 84px;
  height: 2px;
}

.line4-1 {
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: #ff615d;
  width: 30px;
  height: 2px;
}

.line4-2 {
  position: absolute;
  bottom: 50px;
  left: 22px;
  background-color: #ff615d;
  width: 30px;
  height: 2px;
  transform: rotate(60deg);
}

.line4-3 {
  position: absolute;
  bottom: 37px;
  left: 44px;
  background-color: #ff615d;
  width: 195px;
  height: 2px;
}

.pop-up {
  background-color: #61dafb;
  border-radius: 5px;
  position: absolute;
  width: 25em;
  top: -100px;
  left: 500px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 1em;
  transition: all 2s ease-out;
}

.pop-up-opacity {
  transition: all 2s ease-out;
}

.pop-up_p {
  text-align: left;
  color: var(--clr-dark);
  font-weight: 400;
}

.pop-up_sub {
  background-color: #ff615d;
  border-radius: 5px;
  position: absolute;
  width: 25em;
  bottom: 0px;
  left: 500px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 1em;
  transition: all 2s ease-out;
}

.pop-up_p_sub {
  text-align: left;
  color: var(--clr-dark);
  font-weight: 400;
}

.pop-up2 {
  background-color: #ff921f;
  border-radius: 5px;
  position: absolute;
  width: 25em;
  top: -100px;
  right: 500px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 1em;
  transition: all 2s ease-out;
}

.pop-up_p2 {
  text-align: left;
  color: var(--clr-dark);
  font-weight: 400;
}

.pop-up_sub2 {
  background-color: #059bc4;
  border-radius: 5px;
  position: absolute;
  width: 25em;
  bottom: 0px;
  right: 500px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 1em;
  transition: all 2s ease-out;
}

.pop-up_p_sub2 {
  text-align: left;
  color: var(--clr-dark);
  font-weight: 400;
}

.pop-up_h3,
.pop-up_h3_sub,
.pop-up_h3_sub2 {
  color: var(--clr-dark);
  text-align: left;
  margin: 0;
}
